<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.rental.mapper.RentalVerificationMapper">

    <resultMap type="RentalVerification" id="RentalVerificationResult">
        <id     property="id"           column="id"             />
        <result property="alertId"       column="alert_id"       />
        <result property="verifierId"   column="verifier_id"    />
        <result property="verifyType"   column="verify_type"    />
        <result property="verifyResult" column="verify_result"  />
        <result property="remark"       column="remark"         />
        <result property="verifiedAt"  column="verified_at"    />
        <result property="createBy"     column="create_by"     />
        <result property="createTime"   column="create_time"   />
    </resultMap>

    <sql id="selectVerificationVo">
        select id, alert_id, verifier_id, verify_type, verify_result, remark, verified_at, create_by, create_time
        from rental_verifications
    </sql>

    <select id="selectVerificationList" parameterType="RentalVerification" resultMap="RentalVerificationResult">
        <include refid="selectVerificationVo"/>
        <where>
            <if test="alertId != null">and alert_id = #{alertId}</if>
            <if test="verifierId != null">and verifier_id = #{verifierId}</if>
            <if test="verifyType != null and verifyType != ''">and verify_type = #{verifyType}</if>
            <if test="verifyResult != null and verifyResult != ''">and verify_result = #{verifyResult}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectVerificationById" parameterType="Long" resultMap="RentalVerificationResult">
        <include refid="selectVerificationVo"/>
        where id = #{id}
    </select>

    <insert id="insertVerification" parameterType="RentalVerification" useGeneratedKeys="true" keyProperty="id">
        insert into rental_verifications
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alertId != null">alert_id,</if>
            <if test="verifierId != null">verifier_id,</if>
            <if test="verifyType != null and verifyType != ''">verify_type,</if>
            <if test="verifyResult != null and verifyResult != ''">verify_result,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="verifiedAt != null">verified_at,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="alertId != null">#{alertId},</if>
            <if test="verifierId != null">#{verifierId},</if>
            <if test="verifyType != null and verifyType != ''">#{verifyType},</if>
            <if test="verifyResult != null and verifyResult != ''">#{verifyResult},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="verifiedAt != null">#{verifiedAt},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            now(),
        </trim>
    </insert>

    <update id="updateVerification" parameterType="RentalVerification">
        update rental_verifications
        <trim prefix="SET" suffixOverrides=",">
            <if test="alertId != null">alert_id = #{alertId},</if>
            <if test="verifierId != null">verifier_id = #{verifierId},</if>
            <if test="verifyType != null and verifyType != ''">verify_type = #{verifyType},</if>
            <if test="verifyResult != null and verifyResult != ''">verify_result = #{verifyResult},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="verifiedAt != null">verified_at = #{verifiedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteVerificationById" parameterType="Long">
        delete from rental_verifications where id = #{id}
    </delete>

    <delete id="deleteVerificationByIds" parameterType="Long">
        delete from rental_verifications where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
